@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
 
@import "nativewind/theme";

@layer components {

    /* FOR TITLE ONLY  */
    .text-title {
        @apply font-bold text-4xl;
    }

    .text-title-sub {
        @apply text-3xl;
    }

    /* FOR LABEL TEXT INPUT  */
    .text-label {
        @apply font-medium text-xl text-gray-700;
    }

    /* FOR NORMAL TEXT/FONT  */
    .text-normal {
        @apply text-xl
    }
}

@theme {
    --color-theme-black: #333333;
    --color-theme-green: #038175;
    --color-theme-white: #F7F7F7;
    --color-theme-blue: #017BFE;
    --color-theme-yellow: #FFDD78;
    --color-theme-red: #DB3546;
    --color-theme-green-soft: #38C172;
}